body{
	background-color:gray;
	font-family: arial;
}
p{
	padding: 10px 15px 0px 15px;
}
span{
	padding: 0px 15px 20px 15px;
}

iframe{
	border: 0px;
}
#online{
	
}
nav{
background-color:red;	
}
#titulo{

}
.entrar{
	
}
